<section
  id="about-section"
  class="welcome-section flex justify-center space-x-4 items-center h-screen"
>
  <div>
    <div class="flex justify-center items-center space-x-10">
        <div style="max-width: 500px;"> <!-- Adjust the max-width according to your design -->
          <p class="mb-7">
            <span class="text-6xl font-bold hover:text-red-700 transition duration-300 ease-in-out duration-100">
              About.
            </span>
            <br />
            <div class="mb-3">
              <span class="">
                As a <span class="font-bold">
                    software engineer
                </span>, I value the technology not just as creating programs, but as crafting tools that 
                <span class="font-bold">
                    optimize and enhance the way people work
                </span>.
              </span>
              <div class="mb-5"></div>
              <span class="">
                A person that believes digitalization can help people be more productive.
              </span>
              <br>
              <span class="">
                .
              </span>
            </div>
          </p>
          <button class="border-2 px-4 py-2 rounded-md bg-neutral-800 text-neutral-50 font-bold hover:bg-red-700">
            Get to know me
          </button>
        </div>
        <div>
          <img class="w-96 h-96 rounded-full" src="assets/img-profile.png" alt="Yoga Wilanda" />
        </div>
      </div>
      

    <div>
      <div id="about-content"></div>
      <div>
        <p></p>
      </div>
    </div>
  </div>
</section>
