<div id="about-section" class="welcome-section px-4 md:px-6 lg:px-8 ">
  <div class="w-full lg:max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center border-transparent h-screen">
    
    <!-- Content Wrapper -->
    <div class="flex-1 flex flex-col md:flex-row justify-center md:justify-start lg:justify-between items-center md:items-start text-start md:text-left mb-8 md:mb-0 md:space-x-6">
      
      <!-- Profile Image -->
      <img class="w-64 h-64 md:w-32  sm:w-80 sm:h-80 md:w-96 md:h-96 rounded-full mb-5 md:mb-0" src="assets/img-profile.png" alt="Yoga Wilanda" />
      
      <!-- Text Content -->
      <div id="about-explainers" class="flex flex-col items-start md:items-start">
        <div class="text-6xl sm:text-5xl md:text-6xl font-bold hover:text-red-700 transition duration-300 ease-in-out">
          About<span class="text-red-700 font-bold text-8xl">.</span>
        </div>
        <div class="mt-5 text-base sm:text-lg md:text-xl lg:max-w-3xl leading-relaxed">
          <p class="mb-5">
            As a <span class="font-bold">software engineer</span>, I value technology not just as a means of creating
            programs, but as a way to craft tools that <span class="font-bold">optimize and enhance the way people
              work</span>.
          </p>
          <p class="mb-5">
            I believe in digitalization as a path to increased productivity.
          </p>
          <p class="mb-5">
            My goal is to create tools that help people become more productive.
          </p>
        </div>
        <button class="border-2 px-4 py-2 rounded-md bg-neutral-800 text-neutral-50 font-bold hover:bg-red-700 mt-4">
          Get to know me
        </button>
      </div>
      
    </div>
  </div>
</div>
