<section id="skill-content" class="welcome-section ">
  <div class="w-full lg:max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center h-screen mt-8 ">
    <div class="mt-5 text-base sm:text-lg md:text-xl lg:max-w-3xl leading-relaxed">
      <div class="mb-3 text-xl mx-6">
        <p class="mb-7">
          <span class="text-6xl font-bold hover:text-red-700 transition duration-300 ease-in-out">
            Skills.
          </span>
        </p>
        <p class="mt-5 text-base sm:text-lg md:text-xl lg:max-w-3xl leading-relaxed">
          As a <span class="font-bold">software engineer</span>, my interests spans various programming languages and
          technologies. I approach each project with a mindset of using the most appropriate tools to deliver efficient
          and effective solutions. This adaptability allows me to tailor my approach to meet the unique demands of each
          challenge.
        </p>
        <div class="mb-5"></div>
        <span>
          Over the years, I've gained hands-on experience with a diverse set of technologies, including:
        </span>
        <div class="mb-5"></div>
        <ul class="bullet-list-skill list-disc pl-6">
          <li class="mb-2"><a href="https://nodejs.org/" class="text-red-700 hover:text-red-900">Mobile Development</a>
          </li>
          <li class="mb-2"><a href="https://www.java.com/" class="text-red-700 hover:text-red-900">Desktop
              Development</a></li>
          <li class="mb-2"><a href="https://www.java.com/" class="text-red-700 hover:text-red-900">Web Development</a>
          </li>
          <li class="mb-2"><a href="https://www.python.org/" class="text-red-700 hover:text-red-900">Data
              Engineering</a></li>
        </ul>
        <button
          class="border-2 px-4 py-2 mb-5 rounded-md bg-neutral-800 text-neutral-50 font-bold hover:bg-red-700 mt-8 sm:mt-4">
          Explore My Skills
        </button>
      </div>

    </div>
  </div>
  <div class="py-20"></div>
</section>