<section id="skill-content" class="welcome-section space-x-4 items-center">
    <div>
      <div class="flex justify-center items-start space-x-10">
        <div style="max-width: 500px;"> 
          <p class="mb-7">
            <span class="text-6xl font-bold hover:text-red-700 transition duration-300 ease-in-out duration-100">
              Skills.
            </span>
            <br />
            
            <div class="mb-3">
              
              <span class="">
                As a <span class="font-bold">
                  software engineer
                </span>, I have experience with various programming languages and technologies. I believe in using the right tool for the right job to create efficient and effective solutions.
              </span>
              
              <div class="mb-5"></div>
              
              <span class="">
                Some of the programming languages and technologies I've worked with include:
              </span>
              
              <div class="mb-5"></div>
              
              <ul class="bullet-list-skill list-disc pl-6">
                <li class="mb-2">JavaScript (Node.js, React)</li>
                <li class="mb-2">Python</li>
                <li class="mb-2">Java</li>
              </ul>

            </div>
          </p>
          <button class="border-2 px-4 py-2 rounded-md bg-neutral-800 text-neutral-50 font-bold hover:bg-red-700">
            Get to know my skills
          </button>
        </div>

        <div class="flex w-1/2 flex-wrap space-x-4 space-y-4 pb-24">
          <!-- Web Framework -->
          <img class="w-36" alt="html" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
          <img class="w-36" alt="css" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg"/>
          <img class="w-36" alt="javascript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"/>
          <img class="w-36" alt="typescript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"/>
          <img class="w-36" alt="react" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg"/>
          <img class="w-36" alt="nodejs" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg"/>
          <img class="w-36" alt="php" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg"/>
          <img class="w-36" alt="tailwindcss" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" /> 
          <img class="w-36" alt="bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain-wordmark.svg"/>
          <img class="w-36" alt="jquery" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original-wordmark.svg"/>
      
          <!-- Native? maybe? -->
          <img class="w-36" alt="java" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original-wordmark.svg"/>
          
          <!-- Mobile -->
          <img class="w-36" alt="flutter" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg"/>
          <img class="w-36" alt="dart" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dart/dart-original-wordmark.svg"/>
          
          <!-- Automation, Data Science -->
          <img class="w-36" alt="python" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"/>
          <img class="w-36" alt="javascript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg"/>

          <!-- Database -->
          <img class="w-36" alt="javascript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg"/>
          <img class="w-36" alt="javascript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg"/>
          
          <!-- Other -->
          <img class="w-36" alt="javascript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"/>
          <img class="w-36" alt="javascript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original-wordmark.svg"/>
          
          <!-- Version Control System -->
          <img class="w-36" alt="git" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg"/>
          <img class="w-36" alt="expressjs" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original-wordmark.svg"/>

          <!-- Design -->
          <img class="w-36" alt="javascript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg"/>
        </div>
      </div>
    </div>

    
  </div>
  <div class="text-6xl font-bold text-center py-4  text-netural-700">
    But wait, All of this is just a tip of the iceberg.
  </div>

  <div class="text-3xl font-bold p-4  text-netural-700">
    To create something meaningful, the tools learned may seem insufficient. 
    Instead of aiming for the best app at the first launch, the key lies in making iterative changes to address the problem effectively.  
  </div>

  <div class="text-7xl font-bold text-center p-4  text-netural-700">
    The point is, I'm a fast learner and I'm willing to learn new things to just solve a challenge.
  </div>

  <div class="text-7xl font-bold text-center p-4  text-netural-700">
    And... I'm a team player.
  </div>

  <div class="text-7xl font-bold text-center p-4  text-netural-700">
    I'm looking forward to work with you.
  </div>

  <div class="text-7xl font-bold text-center p-4  text-netural-700">
    Thank you.  
  </div>

  <div class="text-7xl font-bold text-center p-4  text-netural-700">
    Have a nice day.
  </div>
  
  <div class="py-20">
  </section>
  